RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://a.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://a.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://b.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://b.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://buku.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://buku.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bungas.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bungas.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://emi.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://emi.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://farah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://farah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://itbaarts.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://itbaarts.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manga.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manga.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://perpus.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://perpus.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://raudah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://raudah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rizkiafa.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rizkiafa.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rizkiafathiaolshop.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rizkiafathiaolshop.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-bola.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-bola.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-karyawan.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-karyawan.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-mhs.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://saw-mhs.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://traffic.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://traffic.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-loker.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-loker.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-osis.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp-osis.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.b.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.b.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.buku.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.buku.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bungas.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bungas.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.emi.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.emi.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.farah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.farah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.itbaarts.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.itbaarts.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manga.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manga.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.perpus.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.perpus.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.raudah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.raudah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rizkiafa.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rizkiafa.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rizkiafathiaolshop.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rizkiafathiaolshop.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-bola.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-bola.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-karyawan.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-karyawan.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-mhs.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.saw-mhs.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.traffic.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.traffic.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-loker.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-loker.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-osis.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp-osis.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://b.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://b.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://buku.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://buku.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bungas.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bungas.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://emi.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://emi.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://farah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://farah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://itbaarts.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://itbaarts.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manga.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manga.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://perpus.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://perpus.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://raudah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://raudah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rizkiafa.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rizkiafa.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rizkiafathiaolshop.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rizkiafathiaolshop.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-bola.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-bola.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-karyawan.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-karyawan.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-mhs.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://saw-mhs.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://traffic.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://traffic.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-loker.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-loker.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-osis.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp-osis.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.b.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.b.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.buku.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.buku.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bungas.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bungas.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.emi.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.emi.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.farah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.farah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.itbaarts.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.itbaarts.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manga.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manga.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.perpus.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.perpus.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.raudah.bungas.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.raudah.bungas.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rizkiafa.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rizkiafa.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rizkiafathiaolshop.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rizkiafathiaolshop.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-bola.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-bola.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-karyawan.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-karyawan.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-mhs.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.saw-mhs.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.traffic.itbaarts.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.traffic.itbaarts.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-azzam.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-azzam.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-loker.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-loker.banua.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-osis.banua.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp-osis.banua.xyz$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php71” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
